<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Create Products</title>
</head>

<body class="bg-gray-100 text-gray-800 font-sans">
  <div class="max-w-xl mx-auto py-8 px-6">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-900">Add Products</h1>

    <form action="/products" method="post" class="bg-white p-8 rounded-lg shadow-lg">
      <div class="mb-4">
        <label for="name" class="block text-sm font-semibold text-gray-700 mb-1">Nama</label>
        <input type="text" name="name" id="name"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200 ease-in-out"
          placeholder="Masukkan nama produk">
      </div>

      <div class="mb-4">
        <label for="brand" class="block text-sm font-semibold text-gray-700 mb-1">Brand</label>
        <input type="text" name="brand" id="brand"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200 ease-in-out"
          placeholder="Masukkan brand produk">
      </div>

      <div class="mb-4">
        <label for="color" class="block text-sm font-semibold text-gray-700 mb-1">Warna</label>
        <input type="text" name="color" id="color"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200 ease-in-out"
          placeholder="Masukkan warna produk">
      </div>

      <div class="mb-4">
        <label for="price" class="block text-sm font-semibold text-gray-700 mb-1">Harga</label>
        <input type="number" name="price" id="price"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200 ease-in-out"
          placeholder="Masukkan harga produk">
      </div>

      <div class="mb-6">
        <label for="category" class="block text-sm font-semibold text-gray-700 mb-1">Kategori</label>
        <select name="category" id="category"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200 ease-in-out">
          <option value="" disabled selected>Pilih Kategori</option>
          <option value="baju">Baju</option>
          <option value="celana">Celana</option>
          <option value="aksesoris">Aksesoris</option>
          <option value="jaket">Jaket</option>
        </select>
      </div>



      <button type="submit"
        class="w-full flex justify-center items-center bg-blue-500 text-white gap-1 px-4 py-2 cursor-pointer text-gray-800 font-semibold tracking-widest rounded-md hover:bg-blue-400 duration-300 hover:gap-2 hover:translate-x-3">
        Submit
        <svg class="w-5 h-5" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
            stroke-linejoin="round" stroke-linecap="round"></path>
        </svg>
      </button>

    </form>

    <div class="mt-6 text-center">
      <a href="/products"><button type=" button"
          class="bg-white text-center w-48 rounded-2xl h-14 relative font-sans text-black text-xl font-semibold group">
          <div
            class="bg-green-400 rounded-xl h-12 w-1/4 flex items-center justify-center absolute left-1 top-[4px] group-hover:w-[184px] z-10 duration-500">
            <svg width="25px" height="25px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
              <path fill="#000000" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
              <path fill="#000000"
                d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z">
              </path>
            </svg>
          </div>
          <p class="translate-x-2">Go Back</p>
        </button></a>
    </div>
  </div>
</body>

</html>